h1,
h2 {
  text-align: center;
}

.lookup-background {
  padding: 1em;
  margin: 1em auto;
  background-color: #fcfcfc;
  max-width: 35vw;
}

.lookup-container {
  margin: 3em;
}

.result-background {
  padding: 1em;
  margin: 1em auto;
  background-color: #fcfcfc;
  max-width: 50vw;
}

@media only screen and (max-width: 1200px) {
  .lookup-background {
    max-width: 80vw;
  }
  .result-background {
    max-width: 80vw;
  }
}
